agent==0.1.2
common==0.1.2
env==0.1.0
gym==0.26.2
matplotlib==3.3.4
numpy==1.19.5
omegaconf==2.3.0
pandas==1.1.5
pygame==2.4.0
PyYAML==6.0
quantecon==0.5.2
scipy==1.5.4
tensorboardX==2.6
torch==1.10.2
tqdm==4.65.0
